.RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1 auto;

    width: 40rem;
    margin: 0 auto;
}

.RegisterForm .warning {
    color: var(--main-purple);
}

.RegisterForm .SpanInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.RegisterForm .SpanLink {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-purple);
    text-decoration: none;
}

.RegisterForm .SpanDefault {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-text-gray);
}

.RegisterForm h1 {
    color: var(--main-purple);
    font-size: 3rem;
    text-align: center;
}

.RegisterForm .LoginButton {
    margin: 1rem 0;
}