.PageOne {
    display: flex;
    flex-direction: column;

    background-image: url("../images/people.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;

    flex: 0 0 100%;
}

.PageOne .Content {
    margin-top: 10rem;
    margin-right: 65%;
    margin-left: 4rem
}

.PageOne .Input {
    outline: none;

    margin: 3rem 0 4rem 0;
    padding: 0.5rem;
}

.PageOne h1 {
    font-size: 6rem;
    margin-top: 0;
    color: var(--main-text-gray);
    font-weight: bold
}

.PageOne h2 {
    font-size: 3rem;
    margin-top: 2rem;
    color: var(--main-text-gray);
    font-weight: bold
}

/***
#########################################
***/

.PageTwo {
    background: var(--main-purple);
    display: flex;
    flex-direction: column;

    flex: 0 0 100%;
}

.PageTwo .Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;

    height: 45rem;
    width: 90%;
    margin: 0 4rem;
}

.PageTwo h1 {
    color: white;
    font-size: 6rem;
    margin: 1rem 30rem 0 4rem;

    max-height: 40rem;
}

/***
#########################################
***/

.PageThree {
    display: flex;
    flex-direction: column;

    background-image: url("../images/pingo_tela_3.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    background-size: auto 50rem;

    flex: 0 0 100%;
}

.PageThree h1 {
    color: var(--main-text-gray);
    margin: 4rem 40% 0 4rem;
    font-size: 6rem;
    margin-right: 50%;
    white-space: nowrap;
}

.PageThree h2 {
    font-size: 5rem;
    margin: 4rem 40% 0 4rem;
    color: var(--main-text-gray);
    font-weight: bold
}

.PageThree .Logo {
    font-family: Comfortaa;
    color: var(--secondary-yellow);
}

.PageThree .BotaoCadastro {
    font-size: 2rem;
    font-weight: bold;

    color: white;
    background: var(--main-purple);
    border-radius: 2rem;

    margin: 4rem;

    width: 20rem;

    text-align: center;
}

/***
#########################################
***/

.PageFour {
    display: flex;
    flex-direction: column;

    background-color: #FEF4AC;

    background-image: url("../images/page_four.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 20%;
    background-size: 60rem;

    flex: 0 0 100%;
}

.PageFour .BotaoCadastro {
    font-size: 2rem;
    font-weight: bold;

    color: white;
    background: var(--main-purple);
    border-radius: 2rem;

    margin: 4rem;
    width: 20rem;

    text-align: center;
}

.PageFour h1 {
    color: var(--main-text-gray);
    font-size: 6rem;
    margin-left: 4rem;
    margin-right: 50%;
    white-space: nowrap;
}

.PageFour h2 {
    font-size: 5rem;
    margin: 0rem 40% 0 4rem;
    color: var(--main-text-gray);
    font-weight: bold
}

.PageFour .Logo {
    font-family: Comfortaa;
    color: var(--main-purple);
}

/***
#########################################
***/

.PageFive {
    background-image: url("../images/page_five.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    flex: 0 0 100%;
}