.Suport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.Suport .Link {
    font-size: 5vh;
    margin-bottom: 2vh;
    text-decoration: none;
    color: var(--main-text-gray);
    font-weight: bold;
}

.Suport .ColumnGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 30%;

    width: 100%;
    height: 100%;

    margin-left: 5%;
}

.Suport .RowGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;
}

.Suport h1 {
    font-size: 10vh;
    margin-left: 5%;
    color: var(--main-text-gray);
    font-weight: bold
}