.Agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    max-width: 100%;
    max-height: fit-content;

    margin: 0 auto;
}

.Agenda .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
    flex: 1;

    margin: 2rem 0;
    width: 80%;

    max-height: fit-content;
}

.Agenda h2 {
    color: var(--main-text-gray)
}