.ProfileForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    margin: 0 auto;
}

.ProfileForm .warning {
    color: var(--main-purple);
}

.ProfileForm h1 {
    color: var(--main-purple);
    font-size: 3rem;
}

.ProfileForm .FlexRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    width: 60%;

    margin: 0 auto;
}

.ProfileForm .FlexMulticols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;

    width: 100%;
}

.ProfileForm .FlexSubColumn {
    display: flex;
    flex: 0 0 auto;
}

.ProfileForm .SaveButton:enabled {
    margin: 2vh 0 0 0;
}

.ProfileForm .SaveButton:enabled:hover {
    margin: 2vh 0 0 0;
}

.ProfileForm .SaveButton:disabled {
    margin: 2vh 0 0 0;
}