.videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    max-width: 90%;

    margin: 0 auto;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    max-width: 100%;

    margin-top: 5%;
}
