.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex: 1;

    width: 40rem;
    margin: 0 auto;
}

.LoginForm .warning {
    color: var(--main-purple);
}

.LoginForm .SpanInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.LoginForm .SpanLink {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-purple);
    text-decoration: none;
    text-align: center;
}

.LoginForm .SpanDefault {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-text-gray);
    text-align: center;
}

.LoginForm h1 {
    color: var(--main-purple);
    font-size: 3rem;
    text-align: center;
}

.LoginForm .LoginButton {
    margin: 1rem 0;
}