.AccountForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    margin: 0 auto;
}

.AccountForm .SubHeader {
    font-size: 2vw;
    font-weight: bold;
    color: var(--main-purple);
}

.AccountForm .FlexRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 100%;

    width: 60%;

    margin: 0 auto;
}

.AccountForm .FlexMulticols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.AccountForm .FlexSubColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin: 0.2em auto;
}

.AccountForm .HideAccount:enabled {
    color: green;
    background-color: white;
    border: 2px solid var(--main-purple);
    margin: 2vh 0 0 0;
}

.AccountForm .HideAccount:enabled:hover {
    background-color: rgb(245, 245, 245);
}

.AccountForm .UnHideAccount:enabled {
    color: red;
    background-color: white;
    border: 2px solid var(--main-purple);
    margin: 2vh 0 0 0;
}

.AccountForm .UnHideAccount:enabled:hover {
    background-color: rgb(245, 245, 245);
}