.CashForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    margin: 0 auto;
}

.CashForm .SubHeader {
    font-size: 2vw;
    font-weight: bold;
    color: var(--main-purple);
}

.CashForm .PaymentMethod {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--main-text-gray);
}

.CashForm .PaymentDescription {
    font-size: 1vw;
    font-weight: bold;
    color: var(--main-text-gray);
}

.CashForm .FlexRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 100%;

    width: 90%;

    margin: 0 auto;
}

.CashForm .FlexMulticols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    width: 100%;
}

.CashForm .FlexSubColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin: 0.2em auto;
}
