.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;

    background-color: var(--main-purple);
    height: 6rem;
}

.Header .SubHeader {
    display: flex;
    flex-direction: row;
    background-color: var(--main-purple);
    align-items: center;
    flex-grow: 1 1 auto;
}

.Header .Logo {
    margin: 0;
    padding: 0;
}

.Header img {
    height: 5rem;
    margin: 0 1rem;
}

.Header h1 {
    font-family: Comfortaa;
    font-size: 3rem;
    color: var(--secondary-yellow);
    margin: 0;
}

.Header h2 {
    font-size: 1.25rem;
    color: white;
    margin: 0.5rem 0;

    white-space: nowrap;
}

.Header .HeaderButton {
    border: 0.25rem solid var(--secondary-yellow);

    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;

    white-space: nowrap;
}

.Header .HeaderButton:enabled:hover {
    background-color: var(--main-purple);
}

.Header .HeaderButtonNoBorder {
    border: 0px;

    color: var(--secondary-yellow);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;

    white-space: nowrap;
}

.Header .HeaderButtonNoBorder:enabled:hover {
    background-color: var(--main-purple);
}

.Header .Link {
    text-decoration: none;
}

.Header .EmptyProfilePicture {
    font-size: 5rem;
    color: var(--main-yellow);
    background: 0;
    margin: 0 1vw 0 0.5vw;
}

.Header .ProfilePicture {
    border-radius: 50%;
    max-height: 5rem;
    margin: 0 1vw 0 0.5vw;
    padding: 0;
}