.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%;

    width: 30%;

    color: white;
}

.Card .Content {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    flex: 0;
}

.Card .TextArea {
    margin: 5%;
    padding: 0 3rem;
    border-radius: 10rem;
}

.Card p {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.Card b {
    font-size: 3rem;
    margin-bottom: 1%;
}

.Card .ImageArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.Card img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}