.package-card {
    margin: 2%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-width: 200px;
    max-width: 200px;
}

.picture {
    border-radius: 50%;
    height: auto;
    width: 55px;
    margin: 2%
}