.SearchButton:enabled {
    font-weight: bold;
    color: white;
    background: var(--main-purple);
}

.SearchButton:enabled:hover {
    font-weight: bold;
    color: white;
    background: rgba(128, 0, 128, 0.9);
}