.Disciplines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    min-width: 800px;
    max-height: fit-content;

    margin: 0 auto;
}

.Disciplines h2 {
    color: var(--main-text-gray);
    text-justify: auto;
}

.Disciplines .CustomSelect {
    color: var(--main-text-gray);
    margin: 1rem 0;
    max-width: 20rem;
    font-size: 1rem;
}

.Disciplines .MuiButton-textSizeMedium:enabled {
    margin: 0 0.5rem;
}