.PasswordInput {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    width: 100%;
    margin: 0 0 1vh 0;
}

.PasswordInput .RoundedInput {
    background-color: #8E63AB25;
    width: 100%;
}