.EmailInput {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    margin: 0 0 1vh 0;
}

.EmailInput .RoundedInput {
    background-color: #8E63AB25;
    width: 100%;
}