.RecoverPassword:enabled {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    background: var(--main-purple);
    border-radius: 2vh;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}

.RecoverPassword:enabled:hover {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    background: var(--main-purple);
    border-radius: 2vh;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}

.RecoverPassword:disabled {
    background: darkgray;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    border-radius: 2vh;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}

.RecoverPassword:disabled:hover {
    background: darkgray;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    border-radius: 2vh;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}

.RecoverPassword:hover {
    cursor: pointer
}

.RecoverPassword:disabled:hover {
    cursor: not-allowed
}