.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-purple);
    height: 4rem;
    flex: 0 0 auto;
}

.Footer .SubHeaderRight {
    display: flex;
    flex-direction: row;
    background-color: var(--main-purple);
    align-items: center;
    margin-right: 2rem;
}

.Footer .SubHeaderLeft {
    display: flex;
    flex-direction: row;
    background-color: var(--main-purple);
    align-items: center;
    margin-left: 2rem;
}

.Footer .Link {
    border: 0px;

    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0 1rem;

    white-space: nowrap;

    text-decoration: none;
}

.Footer .Icon {
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
    white-space: nowrap;
}