.packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    max-width: 75%;
    max-height: fit-content;

    margin: 0 auto;
}

.Packages h2 {
    color: var(--main-text-gray);
    text-justify: auto;
}

.Packages h1 {
    color: var(--main-text-gray);
    text-justify: auto;
}

.Packages .CustomSelect {
    color: var(--main-text-gray);
    margin: 1rem 0;
    max-width: 20rem;
    font-size: 1rem;
}

.Packages .MuiButton-textSizeMedium:enabled {
    margin: 0 0.5rem;
}