:root {
    --width: 100%;
    --lmargin: 0;
    --rmargin: 0;
    --tmargin: 0;
    --bmargin: 0;
    --margin: 0;

    --main-purple: #8E63AB;
    --main-purple-hover: #8E33AB;
    --main-yellow: #FEF4AC;
    --secondary-yellow: #FDEA6A;
    --main-text-gray: #838383;
    --main-gray: #c7c7c7;
    --main-input-background: #8E63AB15
}

.App {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.App .PageWithNavigator {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1 1 auto;

    width: 100%;
}

.W {
    width: var(--width);
}

.M {
    margin: var(--margin);
}

.LM {
    margin-left: var(--lmargin);
}

.RM {
    margin-right: var(--rmargin);
}

.TM {
    margin-top: var(--tmargin);
}

.BM {
    margin-bottom: var(--bmargin);
}

@media only screen and (max-width: 600px) {   body {  background-color: red;   } }