body {
  margin: 0;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body > #root > div {
  height: 100vh;
}