.LoginButton:enabled {
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 1vh 0;
    padding: 1vh;
}

.LoginButton:disabled {
    background: darkgray;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}

.LoginButton:disabled:hover {
    background: darkgray;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
}