.ConfirmRegistration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex: 1;

    width: 40rem;
    margin: 0 auto;
}

.ConfirmRegistration .warning {
    color: var(--main-purple);
}

.ConfirmRegistration .SpanInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;

    max-height: 4rem;
    width: 100%;
}

.ConfirmRegistration .SpanDefault {
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-text-gray);
    text-align: center;
}

.ConfirmRegistration h1 {
    color: var(--main-text-gray);
    font-size: 3rem;
    text-align: center;
}

.ConfirmRegistration .Button {
    margin: 1rem 0;
    width: 30%;
}