.ForgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex: 1;

    width: 40rem;
    margin: 0 auto;
}

.ForgotPassword .warning {
    color: var(--main-purple);
}

.ForgotPassword .SpanInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.ForgotPassword .SpanLink {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-purple);
    text-decoration: none;
}

.ForgotPassword .SpanDefault {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-text-gray);
}

.ForgotPassword h1 {
    color: var(--main-purple);
    font-size: 3rem;
    text-align: center;
}