.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 15%;

    border-right: 2px solid gray;
    min-width: 250px;
}

.picture {
    flex: 1 1 auto;
    font-size: 1.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--main-text-gray);
}

.empty_picture {
    font-size: 13rem !important;
    color: var(--main-text-gray);
    background: white;
}


.ProfilePicture {
    border-radius: 50%;
    height: 11rem;
    margin-top: 1vh;
}