.PhotoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;

    max-width: 100%;
    max-height: fit-content;

    margin: 0 auto;
}

.PhotoForm .FlexRows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 100%;

    width: 60%;

    margin: 0 auto;
}

.PhotoForm .OutlinedBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2vw;

    width: 100%;
    max-height: fit-content;

    flex: 0 1 auto;
}

.PhotoForm .EmptyProfilePicture {
    color: var(--main-text-gray);
    font-size: 20rem;
    padding: 2rem 10rem;
}

.PhotoForm .ProfilePicture {
    border-radius: 50%;
    height: 25rem;
    margin: 1rem 0;
}